:root {
    --haiti: #060624;
    --poriwonkle: #7081e6;
    --periwinkle: #8C9EFF;
    --blue-nebula: #99d6ff;
    --celestial-ice: #a8eaff;
    --zero-point: #d3f2ff; 
    --andromeda-pink: #e6b3ff;
    --plasma-ice: #e0baff;  
}