@import url(fonts.css);
@import url(palette.css);


body {
  margin: 0px 0px;
  position: relative;
  background-color: var(--haiti);
}

#shader-bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.header{
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  background-color: var(--haiti);
}

.header-content{
  width: 92.5vw;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: auto;
  height: 90%;
  display: flex;
  align-items: center;
  margin: auto 0;
  fill: var(--zero-point) !important;
  font-size: 2.3vh;
}

.logo .logo-img{
  width: auto;
  height: 60%;
  margin: 0 0.5vh 0 0;
}

.logo h1{
  margin: auto 0;
  font-family: Arcane Nine;
  color: var(--zero-point);
}

.interaction{
  width: auto;
  height: 60%;
  margin: auto 0 auto 0; 
  flex-shrink: 0;
}

.interaction-content{
  width: 12.5vh;
  height: 100%;
  background-color: var(--zero-point);
  border-radius: 1000px;  
  box-sizing: border-box;
}

.hr{
  width: 92.5vw;
  height: 0.15vh;
  margin: 0 auto;
  background: var(--zero-point );
}

.wrapper{
  height: 100vh;

}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 8vh;

  display: flex;
  justify-content: center; /* centrare orizzontalmente */
  align-items: center; 
}

.navbar{
  width: 35vh;
  height: 70%;
  background-color: var(--zero-point);

  border-radius: 1000px;
}